
@media all and (max-width: 900px) {

	header, .title, span {
		overflow: hidden;
	}
	.box1 .opacity .imgContent {
		height: 360px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.box1 .opacity .imgContent img {
		width: 330px;
		height: 175px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.box3 .section, .box4 .section {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 650px;
		height: 450px;
		font-size: 20px;
		-webkit-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
		padding: 10px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}

}

@media all and (max-width: 800px) {

	.box1 .opacity .imgContent {
		display: none;
	}
	.box1 .btnContent {
		width: 200px;
		margin: 0 auto;
	}
	.box1 .textContent {
		width: 300px;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}
	.box1 .textContent p {
		font-size: 20px;
	}
	.box1 .textContent span {
		font-size: 30px;
	}
	.box1 .opacity .imgContent img {
		width: 300px;
		height: 230px;
	}
	.box1 .textContent {
		width: 100%;
		height: 400px;	
		text-align: center;
	}
	.column {
		-webkit-box-flex: 50%;
		    -ms-flex: 50%;
		        flex: 50%;
		max-width: 50%;
	}

}

@media all and (max-width: 730px) {

	.box1 .opacity .imgContent {
		width: 300px;
	}
	.box1 .opacity .imgContent img {
		width: 230px;
	}

}

@media all and (max-width: 700px) {

	.menu ul li a {
		font-size: 15px;
	}
	.menu ul {
		width: 600px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.box2 p, .box5 .textContent span {
		font-size: 20px;
	}

}

@media all and (max-width: 1020px) {
	.right {
		width: 90%;
		height: 300px;
	}
	.footerOpacity {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
}

@media all and (max-width: 600px) {

	header .headerInput {
		width: 350px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.btnContent {
		width: 90px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.box1 .btnContent, .box2 .btnContent, .box3 .btnContent, .box4 .btnContent {
		width: 120px;
		height: 39px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.box2 img {
		width: 60px;
		height: 70px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.menu ul {
		width: 400px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.column {
		-webkit-box-flex: 100%;
		    -ms-flex: 100%;
		        flex: 100%;
		max-width: 100%;
	}

}

@media all and (max-width: 570px) {

	.box3 .section, .box4 .section {
		width: 450px;
		height: 450px;
	}

}

@media all and (max-width: 470px) {

	.box3 .section, .box4 .section {
		width: 370px;
		height: 170px;
		padding: 5px;
	}
	.box5 .section {
		height: 254px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	.box5 .textContent {
		padding: 5px;
		overflow: hidden;
		font-size: 13px;
	}

}

@media all and (max-width: 450px) {

	header input {
		width: 250px;
	}
	.logo p {
		width: 300px;
	}

}

@media all and (max-width: 390px) {

	.menu ul {
		width: 350px;
	}
	.menu ul li a {
		font-size: 10px;
	}
	.box2 p {
		font-size: 13px;
	}
	.box2 img {
		width: 50px;
		height: 60px;
	}
}

@media all and (max-width: 380px) {

	.box3 .section, .box4 .section {
		width: 300px;
	}

}

@media all and (max-width: 350px) {

	input {
		width: 210px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
	}
	header .btnContent {
		width: 55px;
		-webkit-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		font-size: 12px;
	}
	header .btnContent img {
		display: none;
	}

}

@media all and (max-width: 340px) {

	.menu ul {
		width: 300px;
	}
	blockquote {
		font-size: 10px;
	}

}

@media all and (max-width: 300px) {

	.box3 .section, .box4 .section {
		width: 250px;
	}
	.box3 .section .title, .box4 .section .title {
		font-size: 20px;
	}
	.box3 .section span, .box4 .section span {
		font-size: 8px;
	}
	.logo p {
		width: 200px;
	}

}

